#root {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.lexend-thin {
  font-family: "Lexend", serif;
  font-weight: 100;
  font-style: normal;
}

.lexend-extralight {
  font-family: "Lexend", serif;
  font-weight: 200;
  font-style: normal;
}

.lexend-light {
  font-family: "Lexend", serif;
  font-weight: 300;
  font-style: normal;
}

.lexend-regular {
  font-family: "Lexend", serif;
  font-weight: 400;
  font-style: normal;
}

.lexend-medium {
  font-family: "Lexend", serif;
  font-weight: 500;
  font-style: normal;
}

.lexend-semibold {
  font-family: "Lexend", serif;
  font-weight: 600;
  font-style: normal;
}

.lexend-bold {
  font-family: "Lexend", serif;
  font-weight: 700;
  font-style: normal;
}

.lexend-extrabold {
  font-family: "Lexend", serif;
  font-weight: 800;
  font-style: normal;
}

.lexend-black {
  font-family: "Lexend", serif;
  font-weight: 900;
  font-style: normal;
}
